<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to pokemons_path, class: "navbar-brand" do %>
      <%= image_tag('pokeball.svg') %>
    <% end %>
  </div>
</div>
